<header>
  <h1>Comedians List</h1>
</header>

<body>
  <div>
    <% @comedians.each do |comedian| %>
    <p>Name: <%= comedian.name %></p>
    <p>Age: <%= comedian.age %></p>
    <p>Specials: <%= comedian.special_id %> </p>
    <% end %>
    <p>Average Age for All Comedians:
        <%= "#{Comedian.average_age.to_i}" %> </p>
    </div>
</body>
