<header>Comedians List</header>

<div>
  <body>
    <% @comedians.each do |comedian| %>
    <p>Name: <%= comedian.name %></p>
    <p>Age: <%= comedian.age %></p>
    <p>Special: <%= special.name %> </p>
    <% end %>
    <p>
  </body>
</div>
